<!-- Input Field -->
<input 
  [formControl]="control" 
  [type]="type"
  class="block w-full py-2 sm:py-2.5 px-3 sm:px-4 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400 text-sm sm:text-base"
  [placeholder]="placeholder" 
  [mask]="format" 
  [dropSpecialCharacters]="false"
/>

<!-- Error Messages -->
@if (control.touched && control.dirty) {
  <div class="mt-1">
    @if (control.errors?.['required']) {
      <p class="text-red-400 text-xs sm:text-sm">Field is required</p>
    }
    @if (control.errors?.['minlength']) {
      <p class="text-red-400 text-xs sm:text-sm">
        Must be at least {{control.errors?.['minlength'].requiredLength}} characters long
      </p>
    }
    @if (control.errors?.['email']) {
      <p class="text-red-400 text-xs sm:text-sm">You must enter a valid email</p>
    }
    @if (control.errors?.['min']) {
      <p class="text-red-400 text-xs sm:text-sm">Value too low</p>
    }
    @if (control.errors?.['max']) {
      <p class="text-red-400 text-xs sm:text-sm">Value too high</p>
    }
    @if (control.errors?.['pattern']) {
      <p class="text-red-400 text-xs sm:text-sm">
        Password must contain at least 1 uppercase, 1 lowercase, and 1 number
      </p>
    }
    @if (control.errors?.['noMatch']) {
      <p class="text-red-400 text-xs sm:text-sm">Passwords do not match</p>
    }
    @if (control.errors?.['emailTaken']) {
      <p class="text-red-400 text-xs sm:text-sm">Email already taken. Please try another email</p>
    }
  </div>
}